<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/static/js/tailwindcss.js"></script>
    <title>{{ it.title }}</title>
  </head>

  <body class="container mx-auto bg-amber-100 dark:bg-slate-700 min-h-screen">
    {{ it.content }}
  </body>
</html>
